.mainContainer{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ededed;
    justify-content: center;
}
.wrapperDiv{
    padding: 5rem;
    width: 80%;
    /*border: 2px solid purple;*/
    height: 100%;
}
